<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Manager</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/money_app.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.toast').toast({
                autohide: false
            });
            $('.toast').toast('show');
        })
    </script>

</head>

<body>
    <div class="container-fluid min-vh-100 body_background">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light nav_styling text-light shadow rounded-bottom">
                <p class="h4 mr-5 text-capitalize font-weight-bolder">Hello {{user.first_name}}</p>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-light" href="/m_m/home"><strong>Home</strong><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/m_m/home/edit">Edit</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="/m_m/home/add">Add</a>
                        </li>
                    </ul>
                    <a class="nav-link text-light mr-5" href="/log_out">Logout</a>
                    <p class="nav-link text-light mb-0"><strong>{{today | date:"F d Y"}}</strong></p>
                </div>
            </nav>

            <div class="row mt-2 justify-content-center">

                <div class="col-4 mt-3">
                    <div class="border p-2 box_styling rounded-top">
                        <div class="border box_styling p-2 shadow rounded-top">
                            <div class="row">
                                <div class="row">
                                    <p class="ml-5 mb-1"><strong>Total Difference to Date:</strong> ${{total_difference}}</p>
                                    <p class="ml-5"><strong>Total in Savings to Date:</strong> ${{total_deposited}}</p>
                                    <p class="ml-5 mb-1"><strong>Projected Finances for {{today | date:"F"}}:</strong></p>
                                </div>
                                <div class="col">
                                    <p class="ml-2">${{income_this_month}}</p>
                                    <p class="ml-2">$-{{expense_this_month}}</p>
                                    <p class="border-bottom ml-2">$-{{savings_this_month}}</p>
                                    <p class="ml-2"><strong>${{remainder}}</strong></p>
                                </div>
                                <div class="col">
                                    <p class="">Income</p>
                                    <p class="">Expenses</p>
                                    <p class="border-bottom">Savings</p>
                                    <p><strong>Remainder</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="container">
                        <canvas id="pie-chart"></canvas>
                    </div>

                    <!-- <div id="piechart" class="bg-transparent"></div> -->

                </div>

                <div class="col-7 align-top mt-2">
                    <div class="border m-2 p-2 card_box box_styling shadow rounded-top">
                        <div class="border p-2 card_box2 box_styling">
                            <h4 class="ml-2 border-bottom font-weight-bolder">Expenses</h4>
                            <ul class="list-group list-group-horizontal horizontal_scroll p-1">
                                {% for expense in all_items %}{% if expense.category == "expense" %}
                                <li class="list-group-item m-1 card_styling">
                                    <div class="{% if expense.due_date < today %} border border-danger {% else %} border-0 {% endif %} card list-group-item shadow card_background" style="max-width: 18rem;">
                                        <div class="card-header text-center"><a class="h5 text-white text-capitalize font-weight-bolder" href="/m_m/home/edit_item/{{expense.id}}">{{expense.name}}</a></div>
                                        <div class="card-body">
                                            <h6 class="card-title text-center text-secondary {% if expense.due_date < today %} text-danger {% endif %}">Due Date: {{expense.due_date}}</h6>
                                            <p class="card-text text-center text-secondary">${{expense.amount}}</p>
                                            <form action="/m_m/home/logged/{{expense.id}}" method="POST" class="text-center">
                                                {% csrf_token %}
                                                <button type="submit" class="{% if expense.due_date < today %} border border-danger {% endif %} text-dark rounded-top  shadow">Pay</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}{% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="border m-2 p-2 card_box box_styling shadow rounded-top">
                        <div class="border p-2 card_box2 box_styling">
                            <h4 class="ml-2 border-bottom font-weight-bolder">Income</h4>
                            <ul class="list-group list-group-horizontal horizontal_scroll">
                                {% for income in all_items %} {% if income.category == "income" %}
                                <li class="{% if expense.due_date < today %} border border-warning {% endif %} list-group-item m-1 border-0 card_styling">
                                    <div class="card list-group-item shadow card_background" style="max-width: 18rem;">
                                        <div class="card-header text-center font-weight-bolder"><a class="text-white text-capitalize" href="/m_m/home/edit_item/{{income.id}}">{{income.name}}</a></div>
                                        <div class="card-body">
                                            <h5 class="card-title text-center text-secondary">Earn Date: {{income.due_date}}</h5>
                                            <p class="card-text text-center text-secondary">${{income.amount}}</p>
                                            <form action="/m_m/home/logged/{{income.id}}" method="POST" class="text-center">
                                                {% csrf_token %}
                                                <button type="submit" class="text-dark rounded-top shadow">Log</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
        <div class="alert toast ml-auto">
            <div class="toast-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
            </div>
            <div class="toast-body text-dark">
                {{message}}
            </div>
        </div>
        {% endif %} {% endfor %} {% endif %}
</body>

</html>